<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>{{ title }} - Filelandia</title>
    {% else %}
        <title>Filelandia</title>
    {% endif %}

    <link rel="stylesheet" href="static/css/base.css">

</head>
<body>

<header class="navbar">
    <a href="{{ url_for("index") }}">Home</a>
    {% if not current_user.is_authenticated %}
        <a href={{ url_for("auth.login") }}>Log In</a>
        <a href={{ url_for("auth.register") }}>Register</a>
    {% else %}
        <a href={{ url_for("main.view") }}>My Files</a>
        <a href={{ url_for("main.upload") }}>Upload</a>
        <a href={{ url_for("auth.logout") }}>Log Out</a>
        <span>(logged in as <i>{{ current_user.username }}</i>)</span>
    {% endif %}
</header>

<hr style="border: 1px solid black; width: 50vw; margin: 1em 0;"/>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-message">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% if form %}
    {% if form.errors %}
        <ul class="error">
            {% for _, errors in form.errors.items() %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% block content %}
{% endblock %}


</body>
</html>